*.kpf
*.pyc
*.beam
*.o
*.so
build/*
^build$
Emakefile
coverage
coverage/*
erl_crash.dump
priv/
test/logs/
ebin/*.beam
logs/*
ebin/libtest.erl
ebin/libtest/collector.erl
ebin/libtest/gen_server2.erl
ebin/libtest/matchers.erl